body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.2;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.cabin-unique {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 12%;
    background-color: #ffffff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #7c7b7b;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    transition: color 0.3s, font-weight 0.3s;
}

.sidebar ul li a:hover {
    color: rgb(184, 26, 26);
}

.sidebar ul li a.active {
    color: black;
    font-weight: bold;
}

.main-content {
    width: 92%;
    padding: 30px;
}

.title {
    max-width: 1200px;
    margin-left: 0;
}

.content {
    max-width: 600px;
    margin-left: 0;
}

.section {
    margin-top: 40px;
}

.section h2 {
    font-family: 'Indie Flower';
    font-size: 18px;
}

.section h2 a {
    color: black;
    text-decoration: none; /* 去掉下划线 */
    font-weight: bolder;

}

.section h2 a:hover {
    color: black; /* 悬停时颜色依然是黑色 */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.gallery img {
    width: 100%;
    height: auto;
}

h1 {
    margin-top: 0;
    line-height: 1.2;
}

p {
    line-height: 1.2;
}

.font-intro {
    font-family: 'Indie Flower', cursive;
}

.font-alex {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.font-xuzj {
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

h4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 14px;
}
