/* 通用样式 */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.2;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.cabin-unique {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 12%;
    background-color: #ffffff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #7c7b7b;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    transition: color 0.3s, font-weight 0.3s;
}

.sidebar ul li a:hover {
    color: rgb(184, 26, 26);
}

.sidebar ul li a.active {
    color: black;
    font-weight: bold;
}

/* mainpage 特定样式 */
.mainpage-container .main-content {
    width: 88%;
    padding: 30px;
}

.title {
    max-width: 1200px;
    margin-left: 0;
}

.content {
    max-width: 600px;
    margin-left: 0;
}

.section {
    margin-top: 40px;
}

.section h2 {
    font-family: 'Indie Flower', cursive;
    font-size: 18px;
}

.section h2 a {
    color: black;
    text-decoration: none; /* 去掉下划线 */
    font-weight: bold; /* 设置字体加粗 */
}

.section h2 a:hover {
    color: black; /* 悬停时颜色依然是黑色 */
}

.gallery {
    display: grid;
    grid-template-columns: repeat(4, 35%);
    gap: 10px; 
    max-width: 65%; 
    margin-left: 0; 
}

.gallery img {
    width: 100%; /* 确保图片宽度为100% */
    height: auto;
    object-fit: cover; /* 确保图片适应容器大小 */
}

h1 {
    margin-top: 0;
    line-height: 1.2;
}

p {
    line-height: 1.2;
}

.font-intro {
    font-family: 'Indie Flower', cursive;
}

.font-alex {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.font-xuzj {
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

h4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 14px;
}

/* photography 特定样式 */
.photography-container .main-content {
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.scrolling-gallery {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 20px; /* 添加列之间的间隙 */
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px; /* 添加图片之间的间隙 */
    animation: scroll infinite linear;
    animation-duration: calc(1s * var(--image-count) * 2); /* 动态计算动画时长 */
}

.inner-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.column img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

/* 适配不同屏幕大小 */
@media (max-width: 768px) {
    .sidebar {
        width: 20%;
    }

    .main-content {
        width: 80%;
    }

    .scrolling-gallery {
        gap: 10px;
    }

    .column img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .sidebar {
        width: 30%;
    }

    .main-content {
        width: 70%;
    }

    .scrolling-gallery {
        gap: 5px;
    }

    .column img {
        width: 100%;
    }
}

@keyframes scroll {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-300%); /* 确保整个内容可以完整展示 */
    }
}
