body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: black;
    line-height: 1.2;
}

.indie-flower-regular {
    font-family: "Indie Flower", cursive;
    font-weight: 400;
    font-style: normal;
}

.cabin-unique {
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 12%;
    background-color: #ffffff;
    padding: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 20px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #7c7b7b;
    font-weight: normal;
    font-size: 16px;
    font-family: 'Cabin', sans-serif;
    transition: color 0.3s, font-weight 0.3s;
}

.sidebar ul li a:hover {
    color: rgb(184, 26, 26);
}

.sidebar ul li a.active {
    color: black;
    font-weight: bold;
}

.main-content {
    width: 92%;
    padding: 30px;
}

.title {
    max-width: 1200px;
    margin-left: 0;
}

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from { opacity: .4 }
    to { opacity: 1 }
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.dots {
    text-align: center;
    padding: 20px;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

.content {
    max-width: 600px;
    margin-left: 0;
}

h1 {
    margin-top: 0;
    line-height: 1.2;
}

p {
    line-height: 1.2;
}

.font-intro {
    font-family: 'Indie Flower', cursive;
}

.font-alex {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
}

.font-xuzj {
    font-family: 'Cabin', sans-serif;
    font-weight: 200;
    font-size: 30px;
}

h4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-size: 14px;
}
